{% extends "base.html" %}

{% block contenido %}

    <h1> Acerca de mí </h1>

    <h2> Información </h2>

    <ul>
        <li>
            Nombre: Lucas
        </li>
        <li>
            Apellido: D'Angelo
        </li>
        <li>
            Edad: 33
        </li>

        <li>
            Curso: Python 7810
        </li>
    </ul>

    <h3>Contacto</h3>
    
    <p>Para consultas o presupuestos comunicate al 0800-999-333 o escribe al correo prometheushardware@gmail.com </p>


{% endblock contenido %}